# Игнорировать папку сборки
dist/

# Игнорировать node_modules
node_modules/

# Системные файлы
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Файлы окружения (секреты!)
.env
.env.local
*.env
.env.*

# Vercel
.vercel/

# IDE файлы
.vscode/
.idea/

# Временные файлы
tmp/
temp/